/* Obsidian Custom CSS Snippet: basic changes */

img {
  max-width: 600px;
}

.markdown-preview-view pre {
  overflow: auto;
}

li:empty {
  visibility: hidden;
}

li:not(.markdown-embed li) {
  margin: 5px 0;
  /* width: fit-content; */
}

.document-search-container {
  bottom: 10px;
}

span.cm-list-1.cm-hmd-internal-link,
.cm-s-obsidian span.cm-hmd-internal-link,
.markdown-preview-view .internal-link {
  color: darkgoldenrod;
  /* filter: hue-rotate(150deg); */
}

.cm-s-obsidian span.cm-hashtag,
a.tag {
  color: lightseagreen;
  /* filter: hue-rotate(270deg); */
}

.markdown-preview-view mark {
  padding: 0 5px;
  border-radius: 5px;
}

/* pre {
    text-overflow: ellipsis;
} */
